@charset "UTF-8";

/*index*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

.hero {
  background: url('/images/index/fullscreen.png') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 오버레이 */
}

.hero-text {
  position: relative;
  z-index: 1;
  margin-top : 100px;
  margin-left : 600px;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom:50px;
  color: #FF5C00; /* 주황 강조 */
}

.hero-text p {
  font-size: 1.25rem;
  margin-top: 1rem;
}


@keyframes flicker {
  0%   { opacity: 1; }
  5%   { opacity: 0.4; }
  10%  { opacity: 1; }
  20%  { opacity: 0.1; }
  25%  { opacity: 1; }
  35%  { opacity: 0.7; }
  40%  { opacity: 1; }
  55%  { opacity: 0.3; }
  60%  { opacity: 1; }
  70%  { opacity: 0.6; }
  80%  { opacity: 1; }
  100% { opacity: 1; }
}

.hero-text h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight : 900;
  color: #FF5C00;
  animation: flicker 4s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text p {
	margin-top : 20px;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.hero-text p span {
  display: inline-block;
  opacity: 0;
  margin-bottom: 10px;
  animation: fadeUp 1.5s ease-out forwards;
}

.hero-text .line1 {
  animation-delay: 0.5s;
}

.hero-text .line2 {
  animation-delay: 1.2s;
}
/*테마검색*/
.theme-search{
	height:100vh;
}
