@charset "UTF-8";

/* 전체 배경과 폰트 설정 */
body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* 제목 */
img{
	display : block;
	width : 200px;
	margin : 0 40px 0 30px;
}

/* 폼 전체 정렬 */	
#formWrap {
    width: 300px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.submit-wrap {
    text-align: center;
}

/* 로고 크기 */
#logo {
    width: 150px;
    margin-bottom: 20px;
}

/* 입력 필드 */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* 버튼 스타일 */
form input[type="submit"], .btn-link {
    width: 120px;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    margin: 10px 5px 0 5px;
}

form input[type="submit"]:hover, .btn-link:hover {
    background-color: darkorange;
}

/* 아래 텍스트와 링크 정렬 */
.signup-area {
    margin-top: 10px;
    text-align: center;
}

.signup-area p {
    margin: 8px 0 4px;
    font-size: 0.9rem;
}

