@charset "UTF-8";

/* 헤더 높이 */
body:not(.index) {
  margin-top: 80px; 
}

/*header*/
#mainHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height : 80px;
  color : #333;
  font-size : 24px;
  background-color: #ddd;
  z-index: 999;
  transition: background-color 0.3s ease;
}
#mainHeader li{
	margin-left : 20px;
	margin-right : 20px;
}

#mainHeader li:hover {
	color: orange;
	transition: 0.3s;
}
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; /* 좌우 여백 조절 */
  width: 100%;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column; /* 핵심 */
  align-items: center;
  font-weight: bold;
}

.nav-left, .nav-right {
  display: flex;
  list-style: none;
  gap: 20px;
}


.logo img {
  width : 150px;
  line-height : 0px;
  cursor : pointer;
}

.auth {
  align-self: flex-end;
  font-size: 0.9rem;
  color: #333;
  transition: color 0.3s ease;
  margin-top: -30px; /* 높이 보정 */
}

.auth-wrap{
	position :relative;
  	top:-15px;
}
.auth span{
	color : blue;
	font-weight : 500;
}
/* 기본 상태는 검정색 (스크롤 후 상태) */
.auth a {
  color: #333;
  transition: color 0.3s ease;
}

.auth a:hover {
   color: orange!important;
}

/* 헤더가 투명할 때 글자색 흰색 */
#mainHeader.transparent .auth , #mainHeader.transparent .auth a{
  color: white;
}

.auth a:hover{
	color: orange;
	transition: 0.3s;
}
/* 투명 상태 (초기) */
#mainHeader.transparent {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  color: white; 
}
/*footer*/
footer {
  width: 100%;
  height: 200px;
  background: url('/images/compoment/footer.png') no-repeat center center/cover;
  color: white;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#logo_f {
  width: 150px;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  font-size: 0.9rem;
  line-height: 1.6;
}
